/* MovieList.css */
.movie-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  
  .movie-poster {
    width: 100%;
    height: 70vh;
    display: block;
  }
  
  .movie-info {
    padding: 10px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.8); */
    color: white;
  }
  